<div class="post-view-container">
  <div id="top-trigger"> </div>
  <section id="post-view"> </section>
  <div id="bottom-trigger"> </div>
  <div class="lds-ripple"><div></div><div></div></div>
</div>
