@using System
@using Quack.Models.Account
@model LoginViewModel
@{
    ViewData["Title"] = "Log In";
}

<div class="login-container">
  <div class="login-frame">
    <div class="login-frame-nav"> Log in to Quack </div>
    <form class="form-login"
          asp-return-url="@ViewData["returnUrl"]"
          asp-controller="Account"
          asp-action="Login"
          method="post">
      <div class="form-group">
        <label asp-for="username"></label>
        <input class="form-styling" name="username" type="text"/>
        <span asp-validation-for="username" class="text-danger validation-text"></span>
      </div>

      <div class="form-group">
        <label asp-for="password"></label>
        <input class="form-styling" name="password" type="password"/>
        <span asp-validation-for="password" class="text-danger validation-text"></span>
      </div>

      <div class="form-group checkbox-container">
        <input asp-for="rememberMe" name="rememberMe" type="checkbox" id="checkbox"/>
        <label for="checkbox" ><span class="ui"></span></label>
        <label asp-for="rememberMe"
               style="margin-left:64px;
                      margin-top:-5px;"></label>
      </div>


      <div class="form-group">
        <button class="btn-login" type="submit">Log In</button>
      </div>

    </form>
  </div>
  <div class="login-frame-bottom-panel">
    <div class="form-group" style="width=100%; text-align:center; margin:0 auto;">
        <p> <a class="link-muted"
              asp-controller="Account"
              asp-action="Register"
              >Create account</a> </p>
      <p> <a class="link-muted"
             asp-controller="Account"
             asp-action="ForgotPassword">
          Forgot your password?</a> </p>
    </div>
  </div>
</div>


