.bread-container{
    padding-left: var(--sidebar-width);
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media (max-width:700px){
    .bread-container {
        padding-left:0;
    }
}
.about-duck-feeding {
    font-family: 'Lexend Giga', sans-serif;
    padding:20px;
    max-width: var(--content-width);
    text-align:center;
    color:white;
}

.no-followed {
    margin:10px;
    background-color: var(--color-dark);
    border-radius: 15px;
    padding:40px;
    max-width: var(--content-width);
    text-align:center;
    color:white;
}
