
<button onclick="loadNewPosts()">new</button>
<button onclick="loadNewPosts()">new</button>
<button onclick="reloadComments()">more</button>

<div id="top-trigger"> </div>
<section id="post-view"> </section>
<div id="bottom-trigger"> </div>



