@using Microsoft.AspNetCore.Identity
@using Quack.Models.Account

@inject SignInManager<User> SignInManager

@section Scripts {
  <script src="@Url.Content("~/static/js/Post.js")"> </script>
  <script src="@Url.Content("~/static/js/Panel.js")"> </script>
}


@section Styles {
    <link rel="stylesheet" href="~/static/css/Post.css" />
    <link rel="stylesheet" href="~/static/css/Panel.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
		<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta content="IE=edge" http-equiv="X-UA-Compatible">
		<meta name="x-apple-disable-message-reformatting">

		<meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=3.0, minimum-scale=0.86">
}
    
@if(SignInManager.IsSignedIn(User)) {
    
<partial name="Sidebar"></partial>

<div class="panel">
<div style="display:block; justify-content:center">
  <partial name="WritePost"></partial>
  <partial name="GetPosts"></partial>
</div>
</div>
} else {
  <partial name="Welcome"></partial>
}

