@using Quack.Models.Account
@model LoginViewModel

<div class="welcome-block-form">
  <div class="welcome-login-frame">
    <div class="welcome-login-frame-nav"> Quack </div>
    <div class="browser-notice">Please, view me in Firefox!</div>
    <form class="form-login"
          asp-controller="Account"
          asp-action="Login"
          method="post">

      <div class="form-group">
        <label asp-for="username"></label>
        <input class="form-styling" name="username" type="text"/>
        <span asp-validation-for="username" class="text-danger validation-text"></span>
      </div>

      <div class="form-group">
        <label asp-for="password"></label>
        <input class="form-styling" name="password" type="password"/>
        <span asp-validation-for="password" class="text-danger validation-text"></span>
      </div>

      <div class="form-group checkbox-container">
        <input asp-for="rememberMe" name="rememberMe" type="checkbox" id="checkbox"/>
        <label for="checkbox"><span class="ui"></span></label>
        <label asp-for="rememberMe"
               style="margin-left:64px;
                      margin-top:-4px;"></label>
      </div>

      <div class="form-group" style="width=100%; text-align:center;">
        <button class="btn-login" type="submit">Log In</button>
      </div>
    </form>

    <div class="form-group" style="width=100%; text-align:center; margin:0 auto;">
      <div class="hline"></div>
      <p> <a class="link-muted"
             asp-controller="Account"
             asp-action="Register">
          Create account</a> </p>
      <p> <a class="link-muted"
             asp-controller="Account"
             asp-action="ForgotPassword">
          Forgot your password?</a> </p>
    </div>
  </div>
</div>

<div class="welcome-block-promo">
<svg viewBox="0 0 100 100"
    version="1.1"
    class="duck-icon-svg"
  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <g class="duck-icon-board"  fill-rule="nonzero" fill="#1B95E0">
    <image class="duck-icon-image" xlink:href="/images/duck-icon.svg" height="100" width="100"/>
  </g>
</svg>
<div class="welcome-block-promo-frame">
  <p class="welcome-block-promo-title">What the duck?</h1>
  <p class="welcome-block-promo-text">
    This site is basically a Twitter clone, made with
    <a class="welcome-block-promo-link"
       href="https://dotnet.microsoft.com/apps/aspnet">
      ASP.NET Core</a> as a
    way to familiarize <a class="welcome-block-promo-link"
       href="https://github.com/kcpikkt"> myself</a> with this particular backend.
    It should have quite active community since I populated
    it with simple markov chain text generating bots.</p>
  <p class="welcome-block-promo-text">
    To take a look either create your own account
    (use fake credentials!) or login to user
    <span class="welcome-block-promo-creds">
      duckyduck </span>
    with password Password123
    <span class="welcome-block-promo-creds"
      Password123 </span>
  </p>
  <p class="welcome-block-promo-text">
    Have fun!
  </p>
</div>
</div>
<style>

</style>
