@using Quack.Models.Account
@using Microsoft.AspNetCore.Identity

@model PostContent

<div>
  
<form asp-controller="Account" asp-action="AddPost">
  <div class="post-input-frame">
    <div class="text-input-frame">
      <textarea class="text-input" placeholder="Write something..." asp-for="text"></textarea> </div>
    <div class="text-input-bottom">
      <button class="btn post-btn" type="submit">Post</button>
      <span class="as">as</span>
      <a class="profile-name" href="/Account/Profile"> @Context.User.Identity.Name </a>

    </div>
  </div>
  <div style="clear:both"> </div>
</form>

</div>
